@charset "UTF-8";
/* #UNMETRIC-APP-STYLES
    -------------------- */
/**
 * #SETTINGS
 */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* -------------------- *   #DEFAULT
\* -------------------- */
/* -------------------- *   #COLORS
\* -------------------- */
/* GRAY */
/* GREEN */
/* PURPLE */
/* SEA_GREEN */
/* BRAND_BLUE */
/* PINK */
/* ORANGE */
/*------------------------------------*   #SETTINGS-RESPONSIVE
\*------------------------------------*/
/**
 * #TOOLS
 */
/* -------------------- *   #TOOLS-RESPONSIVE
\* -------------------- */
/**
 * #GENERIC
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------*    #BOX-SIZING
\*------------------------------------*/
/**
 * Set the global `box-sizing` state to `border-box`.
 */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/**
 * #BASE
 */
/* -------------------- *   #TYPOGRAPHY
\* -------------------- */
/**
 * Typographical base selectors.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.1;
  margin: 0; }

/* Heading sizes defined */
h1 {
  font-size: 24px;
  font-size: 2.4rem;
  margin-bottom: 10px; }

h2 {
  font-size: 21px;
  font-size: 2.1rem; }

h3 {
  font-size: 16px;
  font-size: 1.6rem; }

h4,
h5,
h6 {
  font-size: 14px;
  font-size: 1.4rem; }

/* Other text elements  */
p {
  margin: 0; }

abbr {
  border-bottom: 1px dotted #c0c7cd;
  cursor: help; }

b,
strong {
  font-weight: bold; }

/**
 * mainly set to normal because of icons wrapped in <i>
 */
i {
  font-style: normal; }

small {
  font-size: 14px;
  font-size: 1.4rem; }

.page-title {
  font-size: 56px;
  font-size: 5.6rem;
  color: #384047;
  font-weight: 900;
  letter-spacing: -2px; }

.page-subtitle {
  font-size: 24px;
  font-size: 2.4rem;
  color: #4E5A64;
  line-height: 1.3; }

/*------------------------------------*    #PAGE
\*------------------------------------*/
html {
  background-color: white;
  color: #4E5A64;
  font-size: 62.5%;
  font-family: "franklin-gothic-urw", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  min-height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f3f5f6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

body {
  height: 100%;
  width: 100%;
  /* So that overlay extends to edges*/
  font-size: 16px;
  font-size: 1.6rem; }

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0; }

hr {
  border: 1px solid #d4d9dd;
  border-width: 1px 0 0; }

img {
  max-width: 100%; }

/* -------------------- *   #LINKS
\* -------------------- */
a,
[class$="-link"] {
  color: #5856D6;
  cursor: pointer;
  text-decoration: none;
  outline: none !important; }

a:hover {
  color: #6c6bdb;
  text-decoration: none; }

a:focus {
  color: #111;
  outline: none !important; }

a:hover, a:active {
  outline: 0; }

/* -------------------- *   #LAYOUT
\* -------------------- */
/* ------------------------------------------- *   #GRID – Using NEAT  http://neat.bourbon.io
\* ------------------------------------------- */
/*
** To contain/wrap the main content of a page   
*/
.container {
  position: relative;
  width: 1240px;
  margin: 0 auto; }

[class*='size1of1'] {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  [class*='size1of1']:last-child {
    margin-right: 0; }

@media only screen and (min-width: 75em) {
  [class*='size3of12'] {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    [class*='size3of12']:last-child {
      margin-right: 0; } }

@media only screen and (min-width: 75em) {
  [class*='size4of12'] {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    [class*='size4of12']:last-child {
      margin-right: 0; } }

@media only screen and (min-width: 75em) {
  [class*='size5of12'] {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    [class*='size5of12']:last-child {
      margin-right: 0; } }

@media only screen and (min-width: 75em) {
  [class*='size6of12'] {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    [class*='size6of12']:last-child {
      margin-right: 0; } }

@media only screen and (min-width: 75em) {
  [class*='size7of12'] {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    [class*='size7of12']:last-child {
      margin-right: 0; } }

@media only screen and (min-width: 75em) {
  [class*='size8of12'] {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    [class*='size8of12']:last-child {
      margin-right: 0; } }

@media only screen and (min-width: 75em) {
  [class*='size9of12'] {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    [class*='size9of12']:last-child {
      margin-right: 0; } }

@media only screen and (min-width: 75em) {
  [class*='size10of12'] {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    [class*='size10of12']:last-child {
      margin-right: 0; } }

[class*='center-size'] {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  [class*='center-size']::after {
    clear: both;
    content: "";
    display: table; }

@media only screen and (min-width: 75em) {
  .center-size4of12 {
    margin-left: 34.11922%; } }

@media only screen and (min-width: 75em) {
  .center-size5of12 {
    margin-left: 30%; } }

@media only screen and (min-width: 75em) {
  .center-size6of12 {
    margin-left: 25.58941%; } }

@media only screen and (min-width: 75em) {
  .center-size7of12 {
    margin-left: 20%; } }

@media only screen and (min-width: 75em) {
  .center-size8of12 {
    margin-left: 17.05961%; } }

@media only screen and (min-width: 75em) {
  .center-size9of12 {
    margin-left: 12.5%; } }

@media only screen and (min-width: 75em) {
  .center-size10of12 {
    margin-left: 8.5%; } }

/**
 * Remove margin from last item of grid
 */
[class*='of12'].last {
  margin-right: 0 !important; }

/*------------------------------------*    #TABLE
\*------------------------------------*/
/* 
** Basic Table Styles 
*/
table {
  font-size: 13px;
  font-size: 1.3rem;
  font-family: "franklin-gothic-urw", "Helvetica Neue", Arial, sans-serif !important; }
  table th,
  table td {
    position: relative;
    font-family: "franklin-gothic-urw", "Helvetica Neue", Arial, sans-serif !important; }

/* -------------------- *   #FORM
\* -------------------- */
/**
 * #OBJECTS
 */
/**
 * #FONTS
 */
/**
 * #COMPONENTS
 */
/*------------------------------------*    #HEADER
     ------------------------------------*/
body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.main {
  margin-left: 200px;
  max-width: 600px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .main h1 {
    font-weight: bold;
    font-family: "futura-pt-condensed",sans-serif;
    font-size: 110px;
    text-tranform: uppercase;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1; }
    .main h1 span {
      color: yellow;
      text-transform: uppercase;
      background: black;
      padding: 3px .3em; }
  .main .cta {
    display: inline-block;
    background: yellow;
    font-size: 25px;
    font-weight: 400;
    padding: 0.2em 0.4em;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    -webkit-transition: all 100ms ease-in-out;
            transition: all 100ms ease-in-out;
    margin-top: 1px; }
    .main .cta .icon-cheveron-right {
      font-size: 0.8em;
      margin-left: 0.3em; }
    .main .cta:hover {
      color: yellow;
      background: black; }
    .main .cta:hover ~ h1 span {
      color: black;
      background: yellow; }

@media (max-width: 740px) {
  main {
    margin-left: 50px; }
  h1 {
    font-size: 80px; }
  .cta {
    font-size: 20px; } }

@media (max-width: 650px) {
  h1 {
    font-size: 60px; }
  .cta {
    font-size: 20px; } }

/* overlay */
.overlay {
  position: absolute;
  background: rgba(255, 255, 0, 0.95);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out; }
  .overlay.is-open {
    opacity: 1;
    pointer-events: auto; }
    .overlay.is-open .modal {
      -webkit-transform: translate(0px, 0px);
          -ms-transform: translate(0px, 0px);
              transform: translate(0px, 0px); }

.modal {
  -webkit-transform: translate(0px, -100px);
      -ms-transform: translate(0px, -100px);
          transform: translate(0px, -100px);
  -webkit-transition: all 500ms cubic-bezier(0.25, 0.35, 0, 1.74);
          transition: all 500ms cubic-bezier(0.25, 0.35, 0, 1.74);
  max-width: 600px;
  background: white;
  padding: 30px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
  position: relative; }
  .modal .close-btn {
    position: absolute;
    top: -40px;
    right: -40px;
    height: 30px;
    width: 30px;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    -webkit-transition: all 100ms ease-in-out;
            transition: all 100ms ease-in-out; }
    .modal .close-btn:hover {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2); }
  .modal .text-box {
    max-width: 50%; }
    .modal .text-box .lead {
      color: black;
      font-size: 30px;
      font-weight: 400;
      line-height: 1.2em; }
    .modal .text-box p {
      color: #999;
      font-size: 18px;
      margin-top: 1em; }
  .modal .graphic {
    background: url(../img/presentation.png) bottom left;
    position: absolute;
    top: 0;
    right: 0;
    width: 256px;
    height: 280px;
    font-size: 18px; }
  .modal form {
    position: relative;
    z-index: 2;
    background: black;
    padding: 1em;
    margin: 0px -21.5px -22px;
    top: 3em; }
    .modal form input {
      height: 60px;
      border: none;
      display: inline-block;
      padding: 0 30px;
      font-size: 18px; }
      .modal form input:focus {
        outline: none;
        box-shadow: 0px 0px 0px 2px yellow inset; }
      .modal form input[type="text"] {
        width: 70%; }
      .modal form input[type="submit"] {
        background: yellow;
        margin-left: 10px;
        text-transform: uppercase; }

@media (max-width: 720px) {
  .modal {
    margin: 10px; }
    .modal .close-btn {
      right: 0; } }

@media (max-width: 580px) {
  .graphic {
    display: none; }
  .modal .text-box {
    max-width: 100%; }
  .modal form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .modal form input[type="submit"] {
      margin: 0; }
    .modal form input[type="text"] {
      margin-bottom: 5px; } }

/**
 * #THEME
 */
/**
 * #ANIMATION
 */
/* -------------------- *   #ANIMATION
\* -------------------- */
/**
 * #TRUMPS
 */
/* -------------------- *   #Z-INDEXS
\* -------------------- */
.nav-social-list {
  z-index: 2; }

[class^='pg_border-'] {
  z-index: 9; }

.highlighter {
  z-index: 10; }

.highlighter-wrap .callout-wrap {
  z-index: 12; }

.tipsy {
  z-index: 199; }

.page-header-wrap.is_sticky {
  z-index: 90; }

.nav_sb-wrap {
  z-index: 91; }

.nav_sb-item {
  z-index: 92; }

.dd_btn-floating {
  z-index: 93; }

.dd_list-floating,
.help_ov-wrap {
  z-index: 94; }

.overlay_wrap {
  z-index: -99; }
  .overlay_wrap.is_visible {
    z-index: 101; }
  .overlay_wrap.is_topmost {
    z-index: 102; }

/* -------------------- *   #UTILITIES
\* -------------------- */

.link {
  color: #5856D6; }
  
  .link:hover {
    text-decoration: underline; }

.copy-link {
  color: #5856D6 !important; }
  .copy-link:hover {
    text-decoration: underline; }

.fix-it {
  position: fixed !important; }

/* 
** Toggling content
*/
.is_shown {
  visibility: visible;
  display: block; }

.is_invisible {
  visibility: hidden; }

.is_hidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  display: none; }
  .is_hidden.focusable:active, .is_hidden.focusable:focus {
    position: static;
    clip: auto;
    height: auto;
    width: auto;
    margin: 0;
    overflow: visible; }

.link-arrow {
  padding: 0 3px; }

.affix {
  position: fixed; }

/*
** Clearing floats
*/
.group:before, .group:after {
  content: " ";
  display: table; }

.group:after {
  clear: both; }

/*
** Accessible yet invisible text
*/
.hide-text {
  color: transparent;
  font: 0/0 a;
  text-shadow: none; }

/*
**Wait Cursor
*/
.waitCursor {
  cursor: wait; }

/*
** Separator
*/
.sep {
  font-size: 14px;
  font-size: 1.4rem;
  color: #b7c0c7;
  margin: 0 5px; }

hr {
  border: 1px solid #c0c7cd;
  border-width: 1px 0 0;
  margin: 20px 0; }
  hr.wo-mar {
    margin: 0; }
  hr.lighter {
    border-color: #d4d9dd; }
  hr.lightest {
    border-top: 1px solid #e2e5e8; }
  hr.dotted {
    border-style: dotted !important; }
  hr.dashed {
    border-style: dashed !important; }

/*
** Line Break  
*/
@media only screen and (min-width: 75em) {
  .break {
    clear: left;
    display: inline-block; } }

/*
** Center align text
*/
.t-center,
.text-center {
  text-align: center !important; }

/*
** Left align text
*/
.t-left {
  text-align: left !important; }

/*
** Right align text
*/
.t-right {
  text-align: right !important; }

/*
** ICON FONT TEXT HIDE
*/
.screen-reader-text {
  color: transparent;
  font: 0/0 a;
  text-shadow: none; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.big-title {
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: normal;
  letter-spacing: -1px; }

/*
** TABLE LAYOUT 
*/
.cell_5 {
  width: 5%; }

.cell_10 {
  width: 10%; }

.cell_15 {
  width: 15%; }

.cell_20 {
  width: 20%; }

.cell_30 {
  width: 30%; }

.cell_35 {
  width: 35%; }

/* 
** META – Used to display figures next to heading or some other text. Should be dim and light
*/
.meta {
  color: #9ba6b0; }

/*
** Blank Slate
*/
.blank_slate-text {
  color: #9ba6b0;
  padding: 40px;
  text-align: center; }

/**
 *  Nav Sub Alerts 
 */
.nav_sub_alert-warning {
  font-size: 13px;
  font-size: 1.3rem;
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  margin: 3px 0 -2px -5px;
  padding: 1px 5px; }
  .nav_sub_alert-warning .icon-warning {
    font-size: 13px;
    font-size: 1.3rem; }

/** 
 *  Notification Count for new feature under More menu
 */
.notification_count {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 20px;
  background-color: red;
  padding: 2px 10px;
  margin: 0 3px;
  line-height: 1;
  color: white; }

/** 
 *  LABEL
 */
[class*='label-imp'] {
  display: inline-block;
  font-size: 13px;
  font-size: 1.3rem;
  background-color: #e2e5e8;
  padding: 1px 5px;
  border-radius: 2px;
  margin-right: 3px; }

[class*='label-imp'] {
  background-color: #ffcccc; }

.small,
.t-small {
  font-size: 14px !important; }

.t-base {
  font-size: 16px !important; }

.t-medium {
  font-size: 21px !important; }

.t-large {
  font-size: 24px !important; }

.h1 {
  font-size: 32px !important;
  margin-bottom: 15px; }

.h2 {
  font-size: 24px !important;
  margin-bottom: 10px; }

.h3 {
  font-size: 21px !important;
  margin-bottom: 10px; }

.h4 {
  font-size: 16px !important;
  margin-bottom: 10px; }

.text {
  margin-bottom: 10px; }

.push-left {
  float: left !important; }

.push-right {
  float: right !important; }

.no-space-below {
  margin-bottom: 0 !important; }

.no-space-above {
  margin-top: 0 !important; }

/* Text Colors */
.col-light {
  color: #7e8d9a !important; }

.col-lighter {
  color: #9ba6b0 !important; }
